@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
main {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background: no-repeat;
    background: transparent url('../img/bg-image.png') top / cover no-repeat;
    background-size: 100% auto;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    overflow-x: hidden;
}


header {
    padding-top: 32px;
    margin: 0 auto;
    width: 94%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.header_tel {
    font-weight: 275;
}

.offer_main {
   margin-top: 200px;
   margin-left: 10.2%;
   z-index: 5;
}
.offer-ul {
    list-style-image: url(../img/li-marker.png);
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.offer-ul li:not(:last-child) {
    margin-bottom: 12px;
}
.offer_top {
    font-weight: 275;
    font-size: 55px;
    line-height: 66px;
    color: #FFF;
}
.offer_bot {
    margin-top: 68px;
}
.offer_btns button {
    width: 180px;
    height: 35px;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 2px;
    color: #FFF;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-top: 68px;
    cursor: pointer;
}
.offer_btn_no {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #FFFFFF;
    margin-right: 30px;
    overflow: hidden;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}
.offer_btn_no:after {
    content: "";
    display: block;
    width: 10px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.7) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
 
@-webkit-keyframes slideme {
    0% { left: -30px; margin-left: 0px; }
    30% { left: 110%; margin-left: 80px; }
    100% { left: 110%; margin-left: 80px; } 
}
.offer_btn_white {
    background: rgba(255, 255, 255, 0.38);
    backdrop-filter: blur(4px);
    border-radius: 2px;
    border: 0;
}
.cards {
    display: flex;
    justify-content: center;
    margin-top: 230px;
}

.card {
    min-width: 363px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    /* padding-top: 38px;
    padding-bottom: 31px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}
.card:not(:last-child) {
    margin-right: 111px;
}
.card-img {
    width: 61.4%;
    margin-top: 38px;
}
.sec-card {
    max-width: 168px;
    max-width: 168px;
}
.card-title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 61%;
    text-align: center;
    margin-top: 21px;
}
.card-ul {
    font-style: italic;
    font-weight: 275;
    font-size: 13px;
    line-height: 16px;
    margin-left: -20px;
}
.card-ul li {
    list-style-image: url(../img/galka.png);
}
.card-btn {
    width: 61.5%;
    height: 39px;
    margin: 31px 0;
    background: linear-gradient(90deg, #143649 0%, #0D4869 99.37%);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Exo 2', sans-serif;
    border: 0;
    cursor: pointer;
}

.numbers {
    height: 201px;
    width: 100%;
    background: linear-gradient(90deg, #143649 0%, #0D4869 99.37%);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 71px;
}
.numbers-item {
    max-width: 100px;
    max-height: 113px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.numbers-num {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}
.numbers-line {
    width: 113px;
    height: 1.5px;
    background-color: #FFF;
}
.numbers-p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
}
.gallery-section {
    width: 100%;
    height: auto;
    margin-top: 71px;
}
.gallery {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery-img {
    width: auto;
    margin-right: 41px;
    filter: drop-shadow(1px 1px 9px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
}
.calc-sec {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 65px;
}
.calc-container {
    height: 300px;
    width: 319px;
    padding: 23px 43px;
    background: #FFFFFF;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}
.calc-item {
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.calc-item-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.calc-item-indicator {
    background: linear-gradient(90deg, #143649 0%, #0D4869 99.37%);
    border-radius: 5px;
    padding: 0 13px;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.calc-item-indicator span {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    margin-right: 5px;
}
.calc-input-range {
    margin-top: 18px;
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, #E9E2E2 0%, #EDEDED 100%);
    border-radius: 6px;
}
.calc-input-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:18px;
    height:18px;
    background: #243B55;
    border-radius:18px;
    cursor:pointer;
    transition:.1s;
}
.calc-input-range::-webkit-slider-thumb:hover, .calc-input-range::-webkit-slider-thumb:active{
    width:24px;
    height:24px;
}
.calc-under-count {
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    display: flex;
    justify-content: space-between;
}
.second-calc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.calc-item-title {
    min-width: 122px;
}

/* Чек-бокс */
.cbx {
  -webkit-perspective: 20;
  perspective: 20;
  border: 2px solid #e8e8eb;
  background: #e8e8eb;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}
.cbx:hover {
  border-color: #E0E0E0;
}
.flip {
  display: block;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  width: 20px;
  height: 20px;
}
#cbx, #cbx2, #cbx3 {
  display: none;
}
#cbx:checked + .cbx {
  border-color: #E0E0E0;
}
#cbx:checked + .cbx .flip {
  transform: rotateY(180deg);
}
#cbx2:checked + .cbx {
    border-color: #E0E0E0;
}
#cbx2:checked + .cbx .flip {
    transform: rotateY(180deg);
}
#cbx3:checked + .cbx {
    border-color: #E0E0E0;
}
#cbx3:checked + .cbx .flip {
    transform: rotateY(180deg);
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.front {
  background: #fff;
  z-index: 1;
}
.back {
  transform: rotateY(180deg);
  background: #E0E0E0;
  text-align: center;
  color: #fff;
  line-height: 20px;
  box-shadow: 0 0 0 1px #E0E0E0;
}
.back svg {
  margin-top: 3px;
  fill: none;
}
.back svg path {
  stroke: rgb(94, 94, 94);
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
body {
  -webkit-font-smoothing: antialiased;
}
/* --> Чек-бокс <-- */

.calc-count-item {
    background: #E0E0E0;
    border-radius: 2px;
    width: 44px;
    height: 25px;
    border: none;
    margin-right: 8px;
}
.calc-item-subtext {
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}
.calc-count-item-gr {
    display: flex;
    align-items: flex-end;
}
.calc-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.calc-div:not(:last-child) {
    margin-right: 42px;
}
.calc-btn {
    width: 223px;
    height: 39px;
    background: linear-gradient(90deg, #143649 0%, #0D4869 99.37%);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    margin: 27px auto 0;
    cursor: pointer;
}

.calc-sum {
    text-align: center;
}
.calc-sum-p {
    font-family: Fira Code;
    font-style: normal;
    font-weight: 600;
    font-size: 140px;
    line-height: 160px;
    color:#0D4869;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
}
.calc-sum-desc {
    max-width: 249px;
    font-size: 10px;
    line-height: 12px;
    color: #A8A8A8; 
    margin: 0 auto;
}

.services-sec {
    max-width: 1199px;
    height: auto;
    margin: 0 auto;
    margin-top: 118px;
}
.service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}
.service-img {
    margin-right: 87px;
}

.service-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 21px;
}
.service-value {
    display: flex;
    max-width: 222px;
    margin-bottom: 31px;
}
.service-svg {
    margin-right: 12px;
}
.service-coast {
    margin-right: 43px;
    font-style: italic;
    font-weight: 275;
    font-size: 17px;
    line-height: 20px;
    color: #A2A2A2;
}
.srvice-checkin {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #123D56;
    cursor: pointer;
}
.srvice-checkin:hover {
    transition: all 0.2s ease;
    font-weight: 500;
}
.service-desc {
    font-style: italic;
    font-weight: 275;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
}
.social-text {
    max-width: 668px;
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.social-img:not(:last-child) {
    margin-right: 40px;
}

.advantages-sec {
    max-width: 920px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 89px auto;
}
.advantages-item {
    text-align: center;
}
.advantages-text {
    max-width: 155px;
    margin-top: 20px;
}
.clients-sec {
    max-width: 1314px;
    height: auto;
    margin: 0 auto;
}
.clients-sec h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 36px;
}
.clients {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 36px;
}
.clients-img {
    object-fit: contain;
    margin-right: 99px;
}
.scale-img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.scale-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.sale {
    width: 100%;
    margin-bottom: 93px;
}
.section-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-bottom: 34px;
}
.sale-cards {
    margin: 0 auto;
    max-width: 1203px;
    display: flex;
    justify-content: space-around;
}
.sale-card {
    max-width: 311px;
    background: #FFFFFF;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    padding: 35px 25px 25px 25px;
}
.sale-card img {
    margin: 0 auto;
    width: 100%;
    object-fit: scale-down;
}
.sale-card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.sale-card-subtitle {
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    color: #A9A9A9;
    margin-bottom: 18px;
}
.sale-card-inforow {
    display: flex;
    justify-content: space-between;
}
.sale-card-inforow-name {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}
.sale-card-inforow-value {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
.sale-card-oldcost {
    text-decoration: line-through red;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #A6A6A6;
    text-align: center;
    margin-top: 18px;
}
.sale-card-newcost {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    text-align: center;
    margin-bottom: 19px;
}
.sale-card-btn {
    width: 100%;
    height: 39px;
    background: linear-gradient(90deg, #143649 0%, #0D4869 99.37%);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
}

.contacts {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contacts-info {
    margin-right: 80px;
}
.contacts-tel {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
    margin-top: 27px;
    text-align: justify;
}
.contacts-social-logo {
    width: 35px;
    height: 35px;
    margin-right: 14px;
}
.contacts-form {
    background: #FFFFFF;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    padding: 23px 30px 23px 30px;
    margin-top: 49px;
}
.contacts-form label {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 23px;
}
.contact-input {
    height: 40px;
    background: rgba(224, 224, 224, 0.6);
    border-radius: 5px;
    border: 0;
    margin-bottom: 20px;
}
.contact-input::placeholder {
    padding-left: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #BABABA
}
.contact-btn {
    height: 39px;
    width: 65%;
    background: linear-gradient(90deg, #143649 0%, #0D4869 99.37%);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0;
    margin: 0 auto;
    color: #FFF;
}
.contacts-map {
    filter: drop-shadow(1px 1px 9px rgba(0, 0, 0, 0.25));
    border-radius: 26px;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 352px;
    background: linear-gradient(90deg, #143649 0%, #0D4869 99.37%);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    margin-top: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.footer-wrap {
    width: 972px;
    max-height: 252px;
    display: flex;
    justify-content: space-between;
}
.footer-info {
    max-width: 185px;
    height: 243px;
}
.footer-info-text {
    margin-bottom: 24px;
}
.footer-info img {
    margin-bottom: 24px;
}
.footer-menu-ul {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;    
    max-width: 135px;
    display: flex;
    flex-wrap: wrap;
}
.footer-menu-ul a {
    width: 100%;
}
.footer-menu-li {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-form {
    width: 396px;
    margin: 0;
}
.footer-form button {
    cursor: pointer;
}
.footer-form-form {
    margin: 0;
    padding: 23px 23px 16px 23px;
}
.footer-form-form label {
    color: #000;
}
.obman2 {
    display: none;
}



/* Modal */

  
@media only screen and (min-width: 40em) {
    .modal-overlay {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .modal-overlay.active {
      opacity: 1;
      visibility: visible;
    }
  }
  /**
   * Modal
   */
  .modal {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 430px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 33px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .modal .close-modal svg {
    width: 1.75em;
    height: 1.75em;
  }
  .modal .modal-content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .modal.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .modal.active .modal-content {
    opacity: 1;
  }
  .modal.active .close-modal {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
  }
  .modal-close__svg:hover {
    color: #0D4869;
    transition: color 200ms, transform 500ms;
    transform: rotate(360deg);
  }

.modal-form {
    width: 84%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.modal-title {
    width: 84%;
    margin: 0 auto;
}
.modal-label {
    margin-bottom: 15px;
    text-align: justify;
}
.modal__contact-input {
    width: 100%;
}
  
  /**
   * Mobile styling
   */
  @media only screen and (max-width: 39.9375em) {
    h1 {
      font-size: 1.5rem;
    }
  
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      border-radius: 0;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      padding: 0 !important;
    }
  
    .close-modal {
      right: 20px !important;
    }
  }
  


/* RESPONSIVE */

@media (max-width: 1333px) {
    .cards {
        margin-top: 7%;
    }
    .service {
        margin: 0 15px 96px;
        align-items: center;
    }
}
@media (max-width: 1100px) {
    .offer_main {
        margin-top: 90px;
    }
    .footer-wrap {
        width: calc(100% - 40px);
    }
}
@media (max-width: 998px) {
    .social {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .sale-cards {
        display: flex;
        flex-wrap: wrap;
    }
    .sale-card {
        width: 50%;
    }
    .sale-card{
        margin-top: 40px;
    }
    .clients {
        margin-left: 0;
        width: 100%;
        justify-content: space-around;
        object-fit: cover;
    }
    .clients-img {
        margin-right: 0;
        object-fit: scale-down;
        width: 33%;
    }
}
@media (max-width: 899px) {
    .contacts {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts-form-r {
        width: 100%;
        margin-bottom: 40px;
    }
    .cards {
        flex-wrap: wrap;
    }
    .card {
        margin-right: 0;
        min-width: 42%;
    }
    .card:not(:last-child) {
        margin-right: 20px;
    }
    .obman1 {
        display: none;
    }
    .obman2 {
        display: initial;
        margin: 27px auto;
    }
    .calc-div2 {
        margin-top: 27px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .calc-sec {
        flex-wrap: wrap;
    }
    .calc-div:not(:last-child) {
        width: 95%;
        margin-right: 0;
    }
    .calc-container {
        margin: 0 auto;
    }
    .service {
        width: 70%;
        flex-direction: column;
        margin: 70px auto;
    }
    .service-img {
        margin-right: 0;
    }
    .service-text {
        width: 100%;
    }
}
@media (max-width: 799px) {
   
    .offer_main, .offer_btn_no, .offer_btn_white, .offer_btns button {
        margin-top: 0;
        margin-left: 0;
    }
    .offer_top {
        text-align: center;
        margin-top: 30px;
    }
    .offer_bot {
        margin-top: 30px;
    }
    .offer-ul li {
        text-align: left;
        width: 250px;
        margin: 0 auto;
    }
    .offer_btns {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .offer_btn_no {
        margin-right: 30px;
    }
    .footer {
        height: 700px;
    }
    .footer-wrap {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        max-height: none;
    }
    .footer-form {
        margin-top: 30px;
    }
}
@media (max-width: 699px) {
    .clients-img {
        width: 49%;
    }
    .social-text {
        width: 95%;
    }
    .social {
        padding: 10px 0;
    }
    .advantages-sec {
        flex-wrap: wrap;
    }
    .advantages-item {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
    .advantages-imgbox, .advantages-text {
        max-width: none;
        width: 100%;
    }
    .cards {
        flex-wrap: wrap;
    }
    .card {
        width: 80%;
        height: auto;
        margin-bottom: 40px;
    }
    .card:not(:last-child) {
        margin-right: 0;
    }
    .card-img {
        object-fit: scale-down;
    }
    .numbers {
        flex-wrap: wrap;
        height: auto;
        padding: 40px 0;
    }
    .numbers-item {
        max-width: none;
        max-height: none;
        width: 49%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;    
    }
    .numbers-line {
        margin: 0 auto;
    }
    .contacts-info {
        margin-right: 0;
        justify-content: center;
        text-align: center;
    }
    
}
@media (max-width: 576px) {
    body {
        background-size: 110vh 68vh;
    }
    .offer_top {
        font-size: 40px;
        margin-top: 17px;
    }
    .offer_bot {
        font-size: 13px;
    }
    .offer_btns {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .offer_btn_white, .offer_btn_no, .offer_btns button{
        width: 0;
        height: 45px;
        width: 70%;
        margin: 10px auto;
    }
    .sale-card {
        width: 90%;
        margin: 40px auto;
    }
    .contacts-form-r {
        width: 84%;
        max-width: none;
    }
}

@media (max-width: 442px) {
    .social-text {
        margin-bottom: 25px;
    }
    .service-desc p {
        width: 95%; 
    }
    .service {
        width: 88%;
    }
    .calc-container {
        width: 70%;
    }
    .card {
        width: 88%;
    }
}
@media (max-width: 377px) {
    .offer_top {
        font-size: 35px;
    }
}
@media (max-width: 359px) {
    .footer {
        height: 869px;
        text-align: center;
    }
    .footer-info {
        margin-bottom: 40px;
    }
}
@media (max-width: 321px) {
    body {
        background-size: 165vh 88vh;
    }
    .service-img, .service-img img {
        width: 100%;
    }
    .sale-card {
        width: 78%;
    }
    .offer_top {
        font-size: 30px;
    }
   
}


